VITE_SUPABASE_URL=https://whhbgmselyasadkqffxl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndoaGJnbXNlbHlhc2Fka3FmZnhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQxNDkxNDQsImV4cCI6MjA1OTcyNTE0NH0.6aIMXBluB3zBaXhu9vjAUKhcMfeMeWea8whkZUsdCvM
